/* Обнуление стилей */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Обнуление */


.mb-xs {
  margin-bottom: 15px;
}

.mb-s {
  margin-bottom: 40px;
}

.mb-md {
  margin-bottom: 40px;
}

.mb-lg {
  margin-bottom: 50px;
}

.letter {
  max-width: 780px;
  margin: 0 auto;
  border: 2px solid #252525
}

.body {
  min-height: 580px;
  font: normal 14px/22px Arial, sans-serif;
  color: #333333
}

.body__container {
  padding: 25px 110px 70px 80px
}

.text {
  font: normal 14px/22px Arial, sans-serif;
  line-height: 22px;
}

.text-link {
  color: #1155CC;
  cursor: pointer;
}

.text-fat {
  font-weight: bold;
}

.text-indent {
  padding-left: 20px;
}


.menu {
  display: flex;
  justify-content: space-between;
  background-color: #333333;
  padding: 20px 230px 20px 80px
}

.menu__item {
  font: 14px/16px Arial, sans-serif;
  color: #ffffff;
  cursor: pointer;
}

.footer {
  background-color: #eeeeee;
  padding: 50px 80px 70px 70px;
}

.footer__link {
  display: flex;
  justify-content: space-between;
}

.footer__link-social {
  margin-right: 10px;
}


.footer__link-marketplace {
  margin-left: 10px;
}

.hr {
  height: 2px;
  background-color: #cccccc
}